{% extends "base.html" %}
{% load static %}

{% block content %}

    {% include 'navbar.html' %}

    <main class="container-fluid pt-5">
        <div class="me_page row">
            <div class="session_one col-sm-12 col-md-12 text-center">
                <div class="me_card2">
                    <h1 class="">
                        <span>Bem Vindo a School-Courses</span> <br>
                    </h1>
                    <h2 class="card-subtitle">
                        Uma Simples Plataforma de Ensino a Distância
                    </h2>
                </div>
                <div class="me_card2 mt-5">
                    <h5 class="">
                        Venha e aprimore seus conhecimentos!
                    </h5>
                    <button class="btn btn-dark">
                        <span>Começar</span> <br>
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="row session">
                    <div class="col-sm-4">
                        <div class="mecard2 background_color2">
                            <img class="w-25 me_img_left" src="{% static 'images/video-aula.png' %}">
                            <div class="">
                                <h4 class="text-color-light">Vídeo-aulas e materiais digitais</h4>
                                <h3 class="text-color5">Publique suas aulas</h3>
                                <p>
                                    O Simple MOOC tem um sistema simples e prático para que o professor disponibilize vídeo-aulas e materiais digitais como: pdf's, slides, imagens ...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mecard2 background_color2">
                            <img class="w-25 me_img_left" src="{% static 'images/ideia-criativa.png' %}"
                                alt="Fórum de Dúvidas">
                            <div class="">
                                <h4 class="text-color-light">Fórum de Dúvidas</h4>
                                <h3 class="text-color5" >Interaja com seus Alunos</h3>
                                <p class="text-lite">
                                    No Simple MOOC você pode ter seu próprio sistema de fórum para que seus alunos possam interagir com você e com os outros alunos
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mecard2 background_color2">
                            <img class="w-25 me_img_left" src="{% static 'images/video-aula.png' %}">
                            <div class="">
                                <h4 class="text-color-light">Vídeo-aulas e materiais digitais</h4>
                                <h3 class="text-color5">Publique suas aulas</h3>
                                <p>
                                    O Simple MOOC tem um sistema simples e prático para que o professor disponibilize vídeo-aulas e materiais digitais como: pdf's, slides, imagens ...
                                </p>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-md-6 col-sm-12 col-md-6 mt-2">
                        <div class="me_card2_video background_color2 text-center">
                            <div class="me_card_video">
                                <iframe width="460" height="205" src="https://www.youtube.com/embed/bwbFUZj3x8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>

            <div class="col-sm-6 mt-4">
                <div class="background_color3 rounded">
                    <div class="l-box2">
                        <h4 class="text-color-light">Exercícios <i class="bi bi-pass"></i></h4>
                        <div class="">
                            <h3 class="text-color5">Crie exercícios para avaliar seus alunos</h3>
                            <p class="text-lite">
                                Você pode criar exercícios para que os alunos possam ser avaliados e todo o controle de notas e resolução dos exercícios é controlado pela plataforma, facilitando sua vida
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mt-4 mb-4">
                <div class="background_color3 rounded">
                    <div class='l-box2'>
                        <h4 class="text-color-light">Mural de Avisos <i class="bi bi-chat-left-text-fill"></i></h4>
                        <h3 class="text-color5">Envie anúncios diretamente para os alunos</h3>
                        <p class="text-lite">
                            Organize os avisos do seu curso de forma fácil e simples.
                            Aqui você está certificado que os avisos serão entregues para alunos e turmas.
                        </p>

                    </div>

                </div>
            </div>
            <footer class="footer text-center mt-2">
                Simple MOOC - Uma simples plataforma de ensino a distância
            </footer>
        </div>
    </main >
{% endblock %}